table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  padding: 6px;
  background-color: rgba(255, 250, 250, 0.952);
}

.fill {
  border: 0px;
  background-color: rgba(252, 252, 90, 0.993);
  font-weight: 900;
}
#square {
  border: 1px solid black;
}
#square {
  border: 1px solid black;
}
#square2 {
  border: 1px solid black;
}
#square3 {
  border: 1px solid black;
}
#square4 {
  border: 1px solid black;
}
#square5 {
  border: 1px solid black;
}
#square6 {
  border: 1px solid black;
}
#square7 {
  border: 1px solid black;
}
#square8 {
  border: 1px solid black;
}
#square9 {
  border: 1px solid black;
}

#square10 {
  border: 1px solid black;
}
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
